.none {
    text-decoration: none;
}

.inherit {
    text-decoration: inherit;
}

.overline {
    text-decoration: overline;
}

.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}